@import '@styles/colors.scss';

header {
  position: fixed;
  top: 0;
  background-color: $primary-color;
  width: 100%;
  display: flex;
  align-items: baseline;
  padding: 1rem 10rem;
  justify-content: center;
  gap: 1.5rem;

  .imageContainer{
    width: auto;
    margin: auto;
    display: flex;
  }

}